{% load static %}
<style>
    .vTextField, .vUUIDField {
        width: 10em !important;
    }

    .form-row input {
        vertical-align: middle;
        width: 7em !important;
    }
</style>
<nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a href="/"><img src={% static "assets/img/logo.png" %} alt="LOGO" height="52"
                                 width="61"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url "home" %}">Home</a></li>
                 <li><a href="/admin/tblmauza/"><i class="fa fa-btn fa-sign-out"></i>Purchase Detail</a>
                <li class="navbar-brand" id="dropdown"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">Entry Forms
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/admin/dhalhr/tblmauza/"><i class="fa fa-btn fa-sign-out"></i>1. Purchase Detail</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Authentication Links -->
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a></li>
                {% else %}
                    <li class="navbar-brand" id="dropdown"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">{{ request.user.first_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "logout" %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a>
                            </li>
                            <li><a href="{% url 'admin:index' %}"><i
                                    class="fa fa-btn fa-sign-out"></i>Manage</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
